.custom-dropdown-cell {
    cursor: pointer !important;
    background-clip: padding-box;
}

.custom-dropdown-cell:hover {
    background-color: #f5f5f5;
}

.custom-dropdown-cell.current {
    border: 2px solid #1a73e8;
}